# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
client/dist/

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store

# Git
.git
.gitignore

# Environment variables (SECURITY)
.env
.env.local


# Uploads (Volume mounted, do not bake into image)
server/uploads/
